@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
         url('../fonts/rubik-semibold.woff2') format('woff2'),
         url('../fonts/rubik-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
         url('../fonts/rubik-medium.woff2') format('woff2'),
         url('../fonts/rubik-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Rubik";
    src: local("Rubik"),
         url('../fonts/rubik-regular.woff2') format('woff2'),
         url('../fonts/rubik-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
        font-family: "Rubik";
        src: local("Rubik"),
             url('../fonts/rubik-light.woff2') format('woff2'),
             url('../fonts/rubik-light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
}

@font-face {
     font-family: "DMSans";
     src: local("DMSans"),
          url('dmsans-regular.woff2') format('woff2'),
          url('dmsans-regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
 }

 @font-face {
     font-family: "Nunito";
     src: local("Nunito"),
          url('nunito-regular.woff2') format('woff2'),
          url('nunito-regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
 }