@font-face {
    font-family: "Lato", sans-serif;
    src: local("Lato-Regular"),
         url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
     font-family: "Lato", sans-serif;
     src: local("Lato-Medium"),
          url('../fonts/lato-medium.woff2') format('woff2'),
          url('../fonts/lato-medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: "Lato", sans-serif;
     src: local("Lato-Bold"),
          url('../fonts/lato-bold.woff2') format('woff2'),
          url('../fonts/lato-bold.woff') format('woff');
     font-weight: 700;
     font-style: normal;
}


